h1,h2,h3,h4,h5,h6 {margin: 0;}
p {margin: 0}
button { border: none; font-weight: 300; }
* {box-sizing: border-box;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ededed;
}

.main {
  height: 100vh;
  h2, h5 {text-align: center; font-weight: 100; padding: 10px 0; color: rgba(212, 53, 47, .4)}
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 30px;
  min-height: calc(100vh - 82px);
}

.todos {
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 1px 4px 17px rgba(34, 60, 80, 0.2);
  &_input {
    position: relative;
    input {
      margin: 0 !important; 
      font-style: italic; 
      max-width: 92%;
      padding-left: 8% !important;
    }
    &_send {
      height: 100%;
      position: absolute;
      right: -4px;
      text-transform: none !important;
    }
  }



  &_list{
    min-height: 150px;
    &_item {
      padding: 7px;
      border-bottom: 1px solid #ededed;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      
       span {
        color: black;
        word-break: break-word;
      }
    }
  }

  &_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 7px;
    font-weight: 300;
    span span {border-bottom: 2px solid rgb(212, 53, 47); font-weight: 400;}
    &_AAC {
      a {
        margin: 0 3px;
        padding: 0 5px;
        border-radius: 4px;
        color: black;
      }
    }
  }
}


.bottom {
  height: 5px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  border-radius: 10px;
  margin: 0 auto;
  &:nth-child(3) {background-color: #e7e7e7 !important; width: 97%;}
  &:nth-child(4) {background-color: #dcdcdc !important; width: 95%;}
  
}
.message {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  text-align: center;
  line-height: 1;
  background:rgba(50, 212, 47, 0.4);
  box-shadow: 1px 4px 17px rgba(34, 60, 80, 0.2);
  border: 1px solid rgba(34, 60, 80, 0.2);
  user-select: none;
  border-radius: 10px;
}

footer {
  background: rgba(212, 53, 47, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px 0 ;
  text-align: center;
  color: #f4f4f4;

  a {
    color: #f4f4f4;
    text-decoration: none;
    display: flex;
    align-items: center;
    span {
      font-size: 18px;
      font-weight: 500;
      margin-right: 8px;
    }
    svg { height: 32px; width: 32px }
    transition: all 0.2s ease;
    &:hover {
      color: rgb(200, 200, 200);
      svg * {fill: rgb(200, 200, 200) !important;}
    }
  }

  & .footer_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {margin: 5px 10px; font-size: 16px;}
  }
}




@media (max-width: 391px) {
  .todos_status {
    span {margin-bottom: 5px;}
    &_AAC {margin-bottom: 5px;}
  }
}
@media (max-width: 300px) {
  .todos_status {
    flex-direction: column;
  }
}
.round[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border-radius: 10px;
}
