h1,h2,h3,h4,h5,h6 {margin: 0;}
button { border: none; font-weight: 300; }
* {box-sizing: border-box;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ededed;
}

.main {
  width: 100vw;
  height: 100vh;
  h2 {text-align: center; font-weight: 100; margin-bottom: 10px; color: rgba(212, 53, 47, .4)}
}
.container {
  max-width: 500px;
  margin: 0 auto;
}

.todos {
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 1px 4px 17px rgba(34, 60, 80, 0.2);
  &_input {
    input {
      margin: 0 !important; 
      font-style: italic; 
      max-width: 92%;
      padding-left: 8% !important;
    }
    &_send {
      position: absolute;
      height: 42px;
      right: 60px;
    }
  }



  &_list{
    &_item {
      padding: 7px;
      border-bottom: 1px solid #ededed;

       span {
        color: black;
        width: 100%;
        word-wrap: break-word;
      }
    }
  }

  &_status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 7px;
    font-weight: 300;
    &_AAC {
      a {margin: 0 3px;}
    }
  }
}


.bottom {
  height: 3px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  border-radius: 10px;
  margin: 0 auto;
  &:nth-child(3) {background-color: #dedede !important; width: 97%;}
  &:nth-child(4) {background-color: #cfcfcf !important; width: 95%;}
  
}
.message {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  text-align: center;
  line-height: 1;
  background:rgba(50, 212, 47, 0.4);
  box-shadow: 1px 4px 17px rgba(34, 60, 80, 0.2);
  border: 1px solid rgba(34, 60, 80, 0.2);
  user-select: none;
  border-radius: 10px;
}


@media (max-width: 300px) {
  .todos_status {
    flex-direction: column;
  }
}